<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.alex.vo.OrderVO" >
        <result column="order_id" jdbcType="BIGINT" property="orderId"></result>
        <result column="user_id" jdbcType="BIGINT" property="userId"></result>
        <result column="username" jdbcType="VARCHAR" property="username"></result>
        <result column="product_Id" jdbcType="BIGINT" property="productId"></result>
        <result column="product_name" jdbcType="VARCHAR" property="productName"></result>
        <result column="product_price" jdbcType="DOUBLE" property="productPrice"></result>
        <result column="order_number" jdbcType="INTEGER" property="orderNumber"></result>
    </resultMap>

    <sql id="InsertColumnClause">
        user_id, username, product_id, product_name, product_price, order_number
    </sql>

    <sql id="WhereClause">
        <where>

        </where>
    </sql>

    <insert id="insertOrder">
        insert into shop_order
        (
            <include refid="InsertColumnClause" />
        )
        values
        (
         #{orderQueryDTO.userId}, #{orderQueryDTO.username}, #{orderQueryDTO.productId}, #{orderQueryDTO.productName},
         #{orderQueryDTO.productPrice}, #{orderQueryDTO.orderNumber}
        )
    </insert>

</mapper>
